@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sedan SC", serif;
}

body{
    width: 100%; /* Se adapta al ancho disponible */
    min-height: 100vh;
    background-image: url('../assets/images/pngtree-animated-gif-sail-ship-image_16528924.jpg');
    background-size: cover; /* La imagen cubre todo el contenedor */
    background-position: top;   
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.text-left-btn {
    text-align: left; /* Alinea el texto "RANKING"a la izquierda porque su clase btn me lo centra*/
    padding-left: 0%;
  }
.colorNavBar{
    background-color: #FFF1BD;
}
.llenar {
        background-color: rgba(70, 54, 41, 0.79);
        margin-top: 8%;
        margin-bottom: 9%;
        height: 10%;
    }


#tamañoTablero,
#location,
#nations{
    padding: 0.5%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: black;
}
.tamañoTablero{
    color: black;
}
/* Cambiar el color del placeholder solo para inputs con la clase 'col-4' */
input.col-12::placeholder {
    color: #000000;
}

#botonNumero{
    background-color: #D1A400;
    border: none;
    border-radius: 10px;
}

.contenedor-tablero {
    width: 65%;
    margin: 0 auto;
  }
  
  .img-juego {
    width: 100%;
    height: 100%;
  }
  
  