@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Sedan SC", serif;
    }

    body{
        width: 100%; /* Se adapta al ancho disponible */
        min-height: 100vh;
        background-image: url('../assets/images/pngtree-animated-gif-sail-ship-image_16528924.jpg');
        background-size: cover; /* La imagen cubre todo el contenedor */
        background-position: top;   
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }

    .llenar,
    .titulo {
        background-color: rgba(70, 54, 41, 0.79);
    }

    .llenar{
        margin-top: 9%;
        margin-bottom: 7%;
    }
    .titulo{
        margin-top: 3%;
        margin-bottom: 2%;
    }

    @media (max-width: 768px) {
        .llenar {   
                margin-top: 15%;
                margin-bottom: 26%;
        }
        .titulo{
            margin-top: 23%;
            margin-bottom: 2%;
        }
    }
    @media (max-width: 576px) {
        .llenar {   
            margin-top: 40%;
            margin-bottom: 5%;
    }

    }


    .text-white{
        text-shadow: 2px 2px 5px rgba(0, 4, 4, 0.45);
    }

    .jugar{
        background-color: #D1A400;
        border: none;
        border-radius: 10px;
    }
    #nations,
    #nickname{
        padding: 0.5%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
        color: black;
    }
    input::placeholder {
        color: rgb(0, 0, 0); /* Cambiar color */
    }
#labelTamañoTablero {
    color: azure;
}
/* Tabla de juego */

/* .tabla-juego {
    width: 100%;
    table-layout: fixed;
    background-color: blue;
  }
  
  .celda-juego {
    width: auto;
    height: 40px;
    border: 1px solid black;
  }
  
  .contenedor-tablero {
    width: 65%;
    margin: 0 auto;
  }
  
  .img-juego {
    width: 100%;
    height: 100%;
  } */
  .tablero {
    border: 2px solid black;
  }
  
  .grid {
    flex: 0 0 10%;
    aspect-ratio: 1 / 1;
    border: 1px solid black; /* Bordes por defecto */
    box-sizing: border-box;
    outline: none; /* Eliminar borde al hacer clic */
    user-select: none; /* Evitar selección de texto */
  }
  
  .grid:focus {
    outline: none; /* Asegurar que no se muestre borde al enfocar */
  }
  
  .figure {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

.btn-danger {
    background-color: #dc3545;
    border: none;
    color: white;
    border-radius: 5px;
}

.btn-danger:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .btn-sm {
        font-size: 0.7rem; /* Reducir tamaño en pantallas pequeñas */
        padding: 4px 8px;
    }
}
