/* styles/weather.css */
.container {
    
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.form-select {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.weather-card {
    background: rgba(70, 54, 41, 0.79);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.weather-card img {
    width: 60px;
    height: 60px;
    margin: 0.5rem 0;
}

.weather-card h3 {
    margin: 0 0 0.5rem 0;
    color: #333;
}